<?xml version="1.0"?>
<model>
  <name>jet_ski</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Ali SROUR</name>
    <email>ali.srour@seaowlgroup.com</email>
  </author>

  <description>JetSki</description>
  <license>
    <file>LICENSE</file>
  </license>
</model>
